
h1 {
  text-align: center;
}

.hand {
  height: 300px;
  width: 200px;
  margin-left: 40%;
}

.hand img {
  display: none;
}

#message {
  height: 80px;
  width: 500px;
  margin-left: 30%;
  text-align: center;
}

#message h2 {
  display: none;
}

#options {
  height: 100px;
  width: 500px;
  margin-left: 30%;
  text-align: center;
}

#options button {
  width: 50px;
  height: 50px;
}

#options h2 {
  display: none;
}
